-e git+https://github.com/wishful-project/stream_pipe.git#egg=stream_pipe
-e git+https://github.com/wishful-project/pyre.git#egg=pyre
-e git+https://github.com/wishful-project/python-tc.git#egg=python-tc
-e git+https://github.com/phaethon/scapy.git#egg=scapy-python3
-e git+https://github.com/wishful-project/wishful_upis.git@dev#egg=wishful_upi
-e ./uniflex
-e ./modules/simple
-e ./modules/iperf
-e ./modules/net_linux
-e ./modules/rs_signal_gen
-e ./modules/gnuradio
-e ./modules/ni_sdr
-e ./modules/wifi
-e ./modules/wifi_ath
-e ./modules/wifi_gnuradio
-e ./apps/discovery_pyre
-e ./apps/handover
-e ./apps/wireless_topology
-e ./examples
-e ./mininet
